* {
  image-rendering: pixelated;
  font-smooth: never;
  -webkit-font-smoothing: none;
  background-color: #4bb4bd;
  color: #000;
  font-family: "Tahoma", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
